<script type="text/javascript">
    RED.nodes.registerType('node-red-contrib-baltnet-send-sms',{
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            login: {value:""},
            sender: {value:""},
            apikey: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"baltnet-send-sms";
        }
    });
</script>

<script type="text/x-red" data-template-name="node-red-contrib-baltnet-send-sms">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-login"><i class="icon-tag"></i>Login</label>
        <input type="text" id="node-input-login">
    </div>
    <div class="form-row">
        <label for="node-input-sender"><i class="icon-tag"></i>Sender</label>
        <input type="text" id="node-input-sender">
    </div>
    <div class="form-row">
        <label for="node-input-apikey"><i class="icon-tag"></i>ApiKey</label>
        <input type="text" id="node-input-apikey">
    </div>
</script>

<script type="text/x-red" data-help-name="node-red-contrib-baltnet-send-sms">
    <p>A simple node that retrives baltnet account balance</p>
</script>